<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :song_title, :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :artist %>
    <%= form.text_field :artist, id: :song_artist, :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :album %>
    <%= form.text_field :album, id: :song_album, :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :song_description, :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :lyrics %>
    <%= form.text_area :lyrics, id: :song_lyrics, :size => '30x10', :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label 'English Lyrics' %>
    <%= form.text_area :englyrics, id: :song_englyrics, :size => '30x10', :class => 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
