<p id="notice">
<%= notice %>
</p>
<div class="row text-center">
<p>
  <h1 class="page-header"><%= @song.title %></h1>
</p>

<h4>
  <b>Artist </b>
    <span class="label label-success"><%= @song.artist %></span>
  <b>Album</b> 
    <span class="label label-primary"><%= @song.album %></span>
  </h4>

<p class="lead">
  <strong>Description -</strong>
  <%= @song.description %>
</p>
  <div class="col-md-4">
    <p>
      <h2><strong>Lyrics</strong></h2>
      <%= simple_format(@song.lyrics) %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <h2><strong>English lyrics</strong></h2>
      <%= simple_format(@song.englyrics) %>
    </p> 
  </div>
 <div class="col-md-4 text-justify">
 <h2>Words </h2>
 <%= render 'words/words'%>
 <h2>Add a Word: </h2>
    <%= render 'words/form' %>
 </div>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
</div>
